In [1]:
import pandas as pd

data = {
    'benzinske': pd.read_csv('./data/benzinske.csv').loc[:, ['X', 'Y', 'NAZIV']],
    'wifi': pd.read_csv('./data/besplatni_wifi.csv').loc[:, ['X', 'Y', 'Lokacija']],
    'javni': pd.read_csv('./data/javni_prijevoz.csv').loc[:, ['X', 'Y', 'Naziv_stajališta']],
    'sport': pd.read_csv('./data/sport.csv').loc[:, ['X', 'Y', 'naziv']],
    'vrtici': pd.read_csv('./data/vrtici.csv').loc[:, ['X', 'Y', 'naziv']]
}

data_global = pd.DataFrame(columns=['X', 'Y', 'naziv', 'class'])

for d in data:
    data[d].columns = ['X', 'Y', 'naziv']
    data[d]['class'] = [d]*len(data[d])

    print(data[d])

    data_global = pd.concat([data_global, data[d]])

data_global

             X          Y        naziv      class
0    15.875142  45.813876          INA  benzinske
1    15.908529  45.812339          INA  benzinske
2    15.931863  45.814604          INA  benzinske
3    15.978355  45.833513          INA  benzinske
4    15.981875  45.814673          INA  benzinske
..         ...        ...          ...        ...
102  16.123451  45.915547        VUGIP  benzinske
103  16.023837  45.859860         ŠIMA  benzinske
104  16.000648  45.742617   NOVAK-BENZ  benzinske
105  15.932317  45.740449    EURO BENZ  benzinske
106  15.942473  45.715829  MARP-PROMET  benzinske

[107 rows x 4 columns]
             X          Y                           naziv class
0    15.976926  45.814317                   Tržnica Dolac  wifi
1    15.955322  45.810491         Trg Francuske republike  wifi
2    15.993124  45.803683       Autobusni kolodvor Zagreb  wifi
3    15.993621  45.803344       Autobusni kolodvor Zagreb  wifi
4    15.983951  45.812131          Trg hrvatskih velikana  wifi
..         ...        ...                             ...   ...
110  15.944015  45.782722           Sportski park Mladost  wifi
111  15.942252  45.783080           Sportski park Mladost  wifi
112  15.942285  45.782252           Sportski park Mladost  wifi
113  15.953306  45.786135  Autobusni terminal Savski most  wifi
114  15.952642  45.785111  Autobusni terminal Savski most  wifi

[115 rows x 4 columns]
             X          Y                   naziv  class
0    15.962046  45.807596        Adžijina - istok  javni
1    15.961585  45.807790        Adžijina - zapad  javni
2    16.069658  45.828557      Aleja javora - jug  javni
3    16.067935  45.828868   Aleja javora - sjever  javni
4    15.952866  45.778085   Arena Zagreb - istok   javni
..         ...        ...                     ...    ...
254  16.036926  45.791469  Zg. transporti - zapad  javni
255  16.034776  45.798861           Žitnjak - jug  javni
256  16.034341  45.799167        Žitnjak - sjever  javni
257  15.977860  45.809109       Zrinjevac - istok  javni
258  15.977732  45.808959         Zrinjevac zapad  javni

[259 rows x 4 columns]
             X          Y                                     naziv  class
0    15.992162  45.774212                  Bazenski kompleks Utrina  sport
1    15.943072  45.782498                     Sportski park Mladost  sport
2    15.951500  45.806303                 Zimsko plivalište Mladost  sport
3    15.985267  45.815278       Sportsko-rekreacijski centar Šalata  sport
4    16.183815  45.811725                                Bazen Iver  sport
..         ...        ...                                       ...    ...
200  16.054426  45.838549  Sportsko-rekreacijski centar Grana-Klaka  sport
201  15.980601  45.791002  Sportsko-rekreacijski centar Staro Trnje  sport
202  15.875950  45.842540                                PD Glavica  sport
203  15.907551  45.724577              Dvorana za hrvanje Brezovica  sport
204  15.969463  45.771443                     Sportski centar Siget  sport

[205 rows x 4 columns]
             X          Y             naziv   class
0    15.945245  45.801658             BAJKA  vrtici
1    15.938021  45.808917             BAJKA  vrtici
2    15.937220  45.799718             BAJKA  vrtici
3    15.944028  45.802725             BAJKA  vrtici
4    15.938068  45.753896           BOTINEC  vrtici
..         ...        ...               ...     ...
312  16.006627  45.799539  VLADIMIRA NAZORA  vrtici
313  15.989099  45.781158           ZAPRUĐE  vrtici
314  16.067175  45.818308            JABUKA  vrtici
315  15.977822  45.819357    ŠARENA LOPTICA  vrtici
316  15.850999  45.816514             BAMBI  vrtici

[317 rows x 4 columns]

             X          Y             naziv      class
0    15.875142  45.813876               INA  benzinske
1    15.908529  45.812339               INA  benzinske
2    15.931863  45.814604               INA  benzinske
3    15.978355  45.833513               INA  benzinske
4    15.981875  45.814673               INA  benzinske
..         ...        ...               ...        ...
312  16.006627  45.799539  VLADIMIRA NAZORA     vrtici
313  15.989099  45.781158           ZAPRUĐE     vrtici
314  16.067175  45.818308            JABUKA     vrtici
315  15.977822  45.819357    ŠARENA LOPTICA     vrtici
316  15.850999  45.816514             BAMBI     vrtici

[1003 rows x 4 columns]

In [10]:
data_global.to_csv('data.csv', index=False)